body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(183, 226, 226);
}

h2{
    text-align:center;
    color:rgb(76, 123, 129);
    font-size: 30px;
}

#img{
    width: 500px;
    height:auto;
    background-position: center;
}